<div class="wapper">
    <div class="signUpInput">
        <label class="signUpLable" >Full Name:</label>
        <span>
            <input ng-model="userName">
        </span>
    </div>
    <div class="signUpInput">
        <label class="signUpLable">Address:</label>
        <span>
            <input ng-model="address">
        </span>
    </div>
    <div class="signUpInput">
        <label class="signUpLable">City:</label>
        <span>
            <input ng-model="city">
        </span>
    </div>
    <div class="signUpInput">
        <label class="signUpLable">State:</label>
        <span>
             <input ng-model="state">
        </span>
    </div>
    <div class="signUpInput">
        <label class="signUpLable">Phone:</label>
        <span>
             <input ng-model="phone">
        </span>
    </div>
    <div></div>
    <div class="signUpButton">
        <a href="#!/view2"><button> Continue</button></a>
    </div>
</div>